.task {
  display: flex;
  flex-direction: column;
  align-items: start;

  &__header {
    height: 10rem;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: lightgrey;
    align-self: stretch;
    margin-bottom: 2rem;
  }

  &__input {
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: inherit;
    font-family: inherit;
    padding: 1.5rem;
    margin: 1rem;
    align-self: stretch;

    &:focus {
      outline: none;
    }
  }

  &__button {
    padding: 2rem;
    border: none;
    background-color: deepskyblue;
    border-radius: 3px;
    font-size: 2rem;
    align-self: flex-end;
    margin: 0 1rem;
    color: white;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 1rem 2rem rgba(black, .3);
    }

    &:active {
      outline: none;
      transform: translateY(-.1rem);
      box-shadow: 0 .5rem 1rem rgba(black, .3);
    }

    &:focus {
      outline: none;
    }

  }

  @media only screen and (max-width: 768px) {
    margin: 2rem;
  }

}
